* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 95%;
    margin: auto;
}

.header-top {
    width: 100%;

}

.logo {
    font-size: 40px;
    color: rgb(41, 177, 221);
    padding: 20px 0;
    margin-left: 20px;
}

.header-bottom {
    background-color: rgb(41, 177, 221);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.span-text {
    color: white;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 25px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#icons-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    width: calc(100% / 6);
    border: 1px solid black;
    height: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.icon i {
    font-size: 60px;
}